*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
html,body{
    height: 100vh;
    width: 100vw;
}
#card{
    height: 300px;
    width: 400px;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}
body{
    background-color:grey;
    display: flex;
    justify-content: center;
    align-items: center;
}
#card img{
    height: 50%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}
#card h1{
     font-size: 30px;
     margin-top: 10px;
     margin-bottom: 20px;
}
#card h5{
    font-size: 20px;
    color: blueviolet;
    margin: 20px;
    font-family: sans-serif;
    font-weight: 300;
}

#card  button{
    background-color: blue;
    color: white;
    font-weight: 700;
    padding: 6px;
    width: 70px;
    border-radius: 5px;
    border: none;
    /* margin-left: 20px; */
}
 #card button:hover{
    background-color: rgb(20, 20, 151);
} 